* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header,
section h2,
section h3,
form button {
    font-family: "Bungee", cursive;
    font-weight: normal;
}

body, input, textarea {
    font-family: "Roboto", sans-serif;
}

header {
    padding: 16px 0;
    background-color: rgb(45, 20, 59);
    color: rgb(214, 196, 196);
}

header h1, section h2 {
    font-weight: normal;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: aliceblue;
    text-decoration: none;        
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;

}

header .container,
section .container {
    display: flex;
    margin-right: center;
    align-items: center;
    justify-content: space-between;
}

.brands-list img {
    height: 24px;
}

.brands-list li {
    display: inline;
    margin-right:  8px;
}

section.container{
    align-items: flex-start;
}

section {
    padding: 24px 0;
}


section h2 {
    margin-bottom: 16px;
}

section {
    margin-right: 8px;
    color: #182c61;
    margin-bottom: 16px;
}

section img {
    margin-right: 32px;
}

section p, header h3{
    margin-right: 24px;
    margin: 8px;
    font-weight: normal;
}

.store-front {
    margin-right: 32px;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display:block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 18px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

section h4 {
    font-family:Arial, Helvetica, sans-serif;
}

form button {
    background-color: #182c61;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #303e64;
}

input:focus, textarea:focus {
    outline-color: #182c61;

}

footer {
    background-color: #182c61;
    color: #ecf0f1;
    padding: 16px 0;

}
